.list {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    // padding-left: 1.5em;

    .list-title {
        color: white;
        font-size: 20px;
        font-weight: 500;
    }

    .list-cards {
        position: relative;

    }
}

.wrapper {
    margin-top: 10px;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
}