.list {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    .list-title {
        color: white;
        font-size: 20px;
        font-weight: 500;
    }

    .list-cards {
        position: relative;

    }
}

.wrapper {
    margin-top: 10px;
}