.contact-form-txt {
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-textarea {
    width: 100%;
    height: 130;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

.contact-form-btn {
    width: 100%;
    border: none;
    border-radius: 50px;
    outline: none;
    background: #8e2de2;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0px;
    cursor: pointer;
    font-size: 18px;
}

.contact-page {
    @media screen and (max-width: 800px) {
        overflow-x: hidden;
    }

    overflow: hidden;

    &__bg {
        min-height: 100%;
        min-width: 1024px;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;

        @media screen and (max-width: 800px) {
            left: 50%;
            margin-left: -512px;
        }
    }

    .contact {
        width: 100%;
        display: flex;
        justify-content: center;

        &__outer {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 1, 0, 0.2));
            margin-top: 85px;
            height: 530px;
            width: 1000px;
            position: absolute;
            top: 30px;
            height: auto;

            @media screen and (max-width: 800px) {
                margin-top: 150px;
                margin-bottom: 20px;
                width: 100%;
                height: 1000px;
                background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
            }
        }

        &__inner {
            display: flex;
            flex-direction: row;
            // justify-content: space-between;

            @media screen and (max-width: 800px) {
                flex-direction: column;
            }
        }

        &__img-box {
            // margin-top: 2.2em;
            // margin-left: 1.2em;

            @media screen and (max-width: 800px) {
                width: 100%;
                display: flex;
                justify-content: center;

            }
        }

        &__poster-img {
            width: 365px;
            height: 530px;
            filter: brightness(105%);
            filter: contrast(110%);

            @media screen and (max-width: 800px) {
                width: 265px;
                height: 430px;
                margin: 10px auto;
            }
        }

        &__text-box {
            color: white;
            font-size: 15px;
            margin-left: 15px;
            margin-right: 22px;
            margin-top: 20px;
            text-align: center;
            width: 100%;
            font-weight: lighter;
            padding: 5px;
            font-family: sans-serif;
            text-shadow: 3px 3px 4px black;

            @media screen and (max-width: 800px) {
                margin: unset;
                margin: 0 auto;
                width: 90%;
                text-align: center;
                padding-bottom: 15px;
                font-weight: bolder;
            }
        }

        &__title {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 23px;
        }

        &__overview {
            font-size: 0.9rem;
            font-weight: lighter;
            line-height: 21px;
            margin-top: 0px;
            display: block;
        }

    }

}